body {
	font-family: Century Gothic, sans-serif;
}

#header{
	position: fixed;
	top: 0;
	background-color: #eee;
	color: #333;
}
#content{
	float: left;
	position: relative;
	width: 80%;
	left: 10%;
}

.item-block{
	font-size: 20px;
	float: left;
	padding: 50px;
    margin: 1.8%;
    width: 300px;
    height: 300px;
	background-color: #666;
}

footer{
	float: left;
	width: 100%;
	color: #eee;
	background-color: #999;
	font-size: 12pt;
	text-align: center;
}

.site-footer {
	width: 80%;
	left: 10%;
}

.site-footer ul li {
	float: left;
	display:inline-block;
}