---
---

	    <footer role="contentinfo"> <!-- PAGE FOOTER -->
	    	<div id="footer" class="site-footer">
	    			<h4>
				<p class="view"><a href="https://github.com/anosognosia/INCD-Journal">View the Project on GitHub <small>(anosognosia/INCD-Journal)</small></a></p>
				
				<p>
					
				<ul>
				<li><a href="https://github.com/anosognosia/INCD-Journal/zipball/master">Download <strong>ZIP File</strong></a></li>
				<li><a href="https://github.com/anosognosia/INCD-Journal/tarball/master">Download <strong>TAR Ball</strong></a></li>
				<li><a href="https://github.com/anosognosia/INCD-Journal">View On <strong>GitHub</strong></a></li>
				</ul>
					
				</p>
				</h4>
				<br>
				<p>This project is maintained by <a href="https://github.com/anosognosia">edgar wong baxter jr.</a></p>
			</div>
			<!--
	    		<section id="footer-posts">
		       		<h3>Journal Entries:</h3>
			        <ul>
			          {% for post in site.posts %}
			            <li>
			              <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a>
			            </li>
			          {% endfor %}
			        </ul>
             	</section>	
             -->	
	    </footer>
	    <script src="{{site.url}}/js/scale.fix.js"></script>
