<!-- Uses a transparent header that draws on top of the layout's background -->


<style>
.demo-layout-transparent {
   color: #212121;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #212121;
}
</style>

<div class="demo-layout-transparent mdl-layout mdl-js-layout">

  </header>
  <!-- Main Area -->
    <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
      <!-- Main Toolbar -->
      <paper-toolbar id="mainToolbar" class="tall">
        <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>

        <span class="space"></span>

        <!-- Toolbar icons -->
        <!-- <a class="mdl-navigation__link" href="{{ site.baseurl }}/" alt="Site Home">Home</a> -->
        <a href="{{ site.baseurl }}/">        <paper-icon-button id="" icon="home" ></paper-icon-button>
</a>

        <paper-icon-button icon="search"></paper-icon-button>

        <!-- Application name -->
        <div class="middle middle-container">
          <div class="app-name">Polymer Starter Kit</div>
        </div>

        <!-- Application sub title -->
        <div class="bottom bottom-container">
          <div class="bottom-title">The future of the web today</div>
        </div>
      </paper-toolbar>



  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Drawer</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>
