<header class="masthead clearfix" role="banner"> <!-- PAGE HEADER -->
  <div id="info" class="site-info">
    <div id="info-group">
      <!--
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p> -->
      <img src="{{site.baseurl }}/assets/pizza-logo.png" alt="Inclusive Design Journal [Pizza Logo]">
    </div>
    <nav> <!-- PAGE NAV(IGATION) -->
      <div id="nav" class="site-nav" role="navigation">
        <strong><a href="{{ site.baseurl }}/">Home</a></strong>
        <strong><a href="{{ site.baseurl }}/todo.html">Todo</a></strong>
      </div>
    </nav>
  </div>
</header>
