---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
          
          

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Journal</a>
          </nav>
          
          <p class="view"><a href="https://github.com/anosognosia/INCD-Journal">View the Project on GitHub <small>anosognosia/INCD-Journal</small></a></p>
        
	      <ul>
	        <li><a href="https://github.com/anosognosia/INCD-Journal/zipball/master">Download <strong>ZIP File</strong></a></li>
	        <li><a href="https://github.com/anosognosia/INCD-Journal/tarball/master">Download <strong>TAR Ball</strong></a></li>
	        <li><a href="https://github.com/anosognosia/INCD-Journal">View On <strong>GitHub</strong></a></li>
	      </ul>
          
        </header>
      </div>
    </div>
 
 
    <div id="main" role="main" class="container">
      {{ content }}
       <h3>Recent Posts:</h3>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
  
        <br>
      </section>
    </div>
    
    
    <footer>
      <p>This project is maintained by <a href="https://github.com/anosognosia">edgar wong baxter jr.</a></p>
    </footer>

    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
